.social-media-wrapper {
    flex: 1 1 30vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.social-media-area {
    margin-top: 1rem;
    flex: 1 1 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.social-media-area a {
    flex: 0 1 230px;
    font-size: 180px;
    height: 230px;
    margin: 1.5rem;
    display: grid;
    place-items: center;
}

.social-media-area a>i:hover {
    font-size: 216px;
    transition: var(--transitionHoverTime);
}

.social-media-area a>i{
    color: var(--font-color-header);
}